@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

:root {
  --main: hsl(0, 59%, 66%);
  --secondary: hsl(200, 50%, 50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ovo', serif;
  font-size: 18px;
  overflow-x: hidden;
}

/* Commons */
section {
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto 2rem auto;
}

section h1 {
  padding: 0.75rem 0;
}

h1 {
  color: var(--main);
  text-align: center;
}

p {
  padding: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

i {
  font-size: 20px;
  color: var(--secondary);
}

.highlight {
  padding-left: 0.2rem;
  cursor: pointer;
  font-weight: bolder;
  position: relative;
  color: inherit !important;
}

.highlight:before {
  content: '';
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

.highlight:after {
  content: '';
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

/* Scrolling */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  height: 5vh;
  width: min(275px, 65%);
  align-items: center;
  justify-content: center;
  overflow-y: visible;
  background-color: white;
  border: 1px solid var(--main);
  border-radius: 2rem;
  z-index: 5;
}

header img {
  height: min(10%, 150px);
  height: 75px;
  max-height: none;
  z-index: 101;
}

header i {
  color: var(--main);
}

header > *:hover {
  cursor: pointer;
  transition: transform 0.25s, text-shadow 0.25s;
  transform: translateY(-5%);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Hero */
.hero {
  max-width: none;
}

.hero video {
  padding: 0;
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  max-height: 60vh;
}

.hero h1 {
  width: 75%;
  margin: 4vh auto 0 auto;
  padding: 2rem 0;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about div h1 {
  margin: 0 auto;
}

.about div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about img {
  max-width: max(425px, 40%);
  margin: 0 auto;
}

.about .txt {
  max-width: 45ch;
}

.about span {
  color: var(--main);
  font-weight: bold;
}

/* Press Caroussel */
.pressCaroussel {
  padding: 1vh 0 5vh 0;
  background-color: lightgrey;
  max-width: none;
}

.swiper .swiper-wrapper div {
  text-align: center;
  display: grid;
  place-items: center;
  max-width: 300px;
  border: 5px solid var(--main);
}

.swiper-slide img {
  object-fit: cover;
  height: 100%;
}

.swiper-slide a {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* Playlists */
.playlists {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.playlists img {
  border-radius: 25px 0 25px 25px;
  cursor: pointer;
  max-height: 200px;
}

.playlists p,
.playlists a {
  display: none;
}

/* Channel */
.channel {
  max-width: 750px;
  margin-bottom: 0;
}

.channel span {
  color: var(--main);
  cursor: pointer;
  font-weight: bolder;
}

/* Travels Playlists Page */
.map {
  overflow-x: hidden;
  display: none;
  position: relative;
}

.map h1 {
  padding: 0;
}

.map .swiper2 h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#mapDK,
#mapEU,
#mapCPH {
  height: 80vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  i {
    font-size: 30px;
  }

  p {
    font-size: 1.4rem;
  }

  /* Hero L */
  header {
    top: 92.5%;
    transform: translate(-50%, 0);
    gap: 2rem;
    width: min(400px, 50%);
  }

  header img {
    height: 100px;
  }

  .hero video {
    height: 95vh;
    max-height: none;
    object-fit: cover;
    position: relative;
  }

  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 7rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0;
  }

  .hero p {
    display: none;
  }

  /* About L */
  .about {
    padding: 1rem;
  }

  /* Map */
  .map {
    display: block;
  }

  .playlists {
    display: none;
  }

  .channel {
    padding-top: 5vh;
    max-width: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    place-items: center;
  }

  .channel-content {
    max-width: 750px;
    padding-bottom: 3rem;
  }
}
