@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

:root {
  --main: hsl(0, 59%, 66%);
  --secondary: hsl(200, 50%, 50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ovo', serif;
  font-size: 18px;
  overflow-x: hidden;
}

/* Commons */
section {
  width: 100vw;
  margin-bottom: 2rem;
}

section h1 {
  padding: 0.75rem 0;
}

h1 {
  color: var(--main);
  text-align: center;
}

p {
  padding: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

i {
  font-size: 20px;
  color: var(--secondary);
}

.highlight {
  padding-left: 0.2rem;
  cursor: pointer;
  font-weight: bolder;
  position: relative;
  color: inherit !important;
}

.highlight:before {
  content: '';
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

.highlight:after {
  content: '';
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

/* Javascript */
.visible {
  display: visible;
}

.hidden {
  display: none !important;
}

/* Navigation */
nav {
  position: fixed;
  bottom: 0;
  margin: 0.5rem 1rem;
  padding: 0;
  height: 5vh;
  width: 85%;
  display: flex;
  gap: 1rem;
}

nav h2 {
  align-self: center;
  margin: 0 auto;
}

/* Scrolling */
header {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

header a {
  color: inherit;
}

header p {
  padding: 0;
}

header .social {
  display: flex;
  gap: 1rem;
}

header .social i {
  color: var(--main);
}

header .social i:hover {
  cursor: pointer;
  animation: up 0.25s forwards;
}

@keyframes up {
  from {
    transform: translateY(0);
  }

  to {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-5%);
  }
}

/* Hero */
.hero video {
  padding: 0;
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  max-height: 60vh;
}

.hero h1 {
  margin: 4vh 0 2vh 0;
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0;
}

/* About */
.about {
  display: grid;
  align-items: center;
}

.about div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about img {
  max-width: min(500px, 100%);
  object-fit: contain;
}

.about .txt {
  max-width: 50ch;
}

.about span {
  color: var(--main);
  font-weight: bold;
}

/* Press Caroussel */
.pressCaroussel {
  padding: 1vh 0 5vh 0;
  margin: 2rem 0;
  background-color: lightgrey;
}

.swiper .swiper-wrapper div {
  text-align: center;
  display: grid;
  place-items: center;
  max-width: 300px;
  border: 5px solid var(--main);
}

.swiper-slide img {
  object-fit: cover;
  height: 100%;
}

.swiper-slide a {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* Playlists */
.playlists {
  display: grid;
  place-items: center;
  gap: 2rem;
  background-color: hsla(200, 50%, 50%, 0.2);
}

.playlists img {
  border-radius: 25px 0 25px 25px;
  cursor: pointer;
  max-height: 200px;
}

.playlists img:hover {
  scale: 105%;
  transition: scale ease 0.5s;
}

.playlists p,
.playlists a {
  display: none;
}

/* Channel */
.channel {
  max-width: 750px;
  margin-bottom: 0;
}

.channel span {
  color: var(--main);
  cursor: pointer;
  font-weight: bolder;
}

/* Travels Playlists Page */
.map {
  overflow-x: hidden;
  display: none;
  position: relative;
}

.map h1 {
  padding: 0;
}

.map .swiper2 h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#mapDK,
#mapEU,
#mapCPH {
  height: 80vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  i {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.4rem;
  }

  .hero {
    place-self: start;
  }

  .hero video {
    height: 95vh;
    max-height: none;
    object-fit: cover;
    position: relative;
  }

  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 7rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  }

  .hero p {
    display: none;
  }

  .about a {
    margin-top: 2rem;
  }

  .about .stats {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about .dr img {
    max-width: 125px;
  }

  .map {
    display: block;
  }

  .playlists {
    display: none;
  }

  .channel {
    padding-top: 5vh;
    max-width: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    place-items: center;
  }

  .channel-content {
    max-width: 750px;
    padding-bottom: 3rem;
  }
}
