@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

:root {
  --main: hsl(0, 59%, 66%);
  --secondary: hsl(200, 50%, 50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ovo', serif;
  font-size: 18px;
  overflow-x: hidden;
}

/* Commons */
section {
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto 2rem auto;
  overflow: hidden;
}

section h1 {
  padding: 0.75rem 0;
}

h1 {
  color: var(--main);
  text-align: center;
}

p {
  padding: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

i {
  font-size: 20px;
  color: var(--secondary);
}

.highlight {
  padding-left: 0.2rem;
  cursor: pointer;
  font-weight: bolder;
  position: relative;
  color: inherit !important;
}

.highlight:before {
  content: '';
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

.highlight:after {
  content: '';
  z-index: -1;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.5;
  border-radius: 0.25em;
}

/* Scrolling */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  height: 5vh;
  width: min(275px, 65%);
  align-items: center;
  justify-content: center;
  overflow-y: visible;
  background-color: white;
  border: 1px solid var(--main);
  border-radius: 2rem;
  z-index: 5;
}

header img {
  height: min(10%, 150px);
  height: 75px;
  max-height: none;
  z-index: 101;
}

header i {
  color: var(--main);
}

header > *:hover {
  cursor: pointer;
  transition: transform 0.25s, text-shadow 0.25s;
  transform: translateY(-5%);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Hero */
.hero {
  max-width: none;
}

.hero video {
  padding: 0;
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  max-height: 60vh;
}

.hero h1 {
  width: 75%;
  margin: 4vh auto 0 auto;
  padding: 2rem 0;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about div h1 {
  margin: 0 auto;
}

.about div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about img {
  max-width: max(425px, 40%);
  margin: 0 auto;
}

.about .txt {
  max-width: 45ch;
}

.about span {
  color: var(--main);
  font-weight: bold;
}

/* Press */
.press {
  position: relative;
  margin: 4rem auto;
  overflow: visible;
}

.press h2 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 2;
  padding: 0 2.5%;
  color: grey;
  text-align: center;
}

.press div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: 60%;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.press div img {
  max-width: 150px;
  max-height: 75px;
  object-fit: contain;
  filter: grayscale(1) opacity(0.5);
}

.press div img:hover {
  transition: filter 0.25s;
  filter: grayscale(0) opacity(1);
}

/* Map (L) */
.map {
  overflow-x: hidden;
  display: none;
  position: relative;
}

.map h1 {
  padding: 0;
}

.map .swiper h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#mapDK,
#mapEU,
#mapCPH {
  height: 70vh;
  width: 100%;
}

footer {
  display: grid;
  place-items: center;
  gap: 10%;
}

footer p {
  max-width: 75%;
  text-align: center;
}

footer p,
footer a {
  padding: 0;
  font-size: 1rem;
}

footer div {
  display: flex;
  gap: 2.5rem;
}

/* Playlists (S) */
.playlists {
  margin: 5rem auto;
}

.playlists div {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.playlists div div {
  display: grid;
  max-width: 35ch;
}

.playlists img {
  border-radius: 25px 0 25px 25px;
  cursor: pointer;
  max-height: 200px;
}

.playlists p {
  display: none;
  text-align: center;
}

body > img {
  object-fit: cover;
  width: 100vw;
  margin-top: 2rem;
}

/* Travels Page */
#themePage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 300px;
  margin: 0 auto 2rem auto;
  overflow: hidden;
}

#themePage img {
  width: 100%;
}

#themePage h1 {
  position: absolute;
  color: #fff;
  font-size: 5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#travelsHeader {
  position: relative;
  transform: translate(-50%, -115%);
  margin-bottom: -2rem;
}

#PageDesc {
  max-width: 75ch;
  margin: 0 auto;
}

#videosLinks {
  display: grid;
  gap: 2rem;
  max-width: 885px;
  margin: 2rem auto;
}

#videosLinks div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#videosLinks div:nth-child(1),
#videosLinks div:nth-child(3),
#videosLinks div:nth-child(5),
#videosLinks div:nth-child(7) {
  background: hsla(0, 59%, 66%, 0.1);
}

#videosLinks div img {
  object-fit: contain;
  margin: 0 auto;
}

#videosLinks div p {
  max-width: 40ch;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  i {
    font-size: 30px;
  }

  p {
    font-size: 1.4rem;
  }

  /* Hero L */
  header {
    top: 92.5%;
    transform: translate(-50%, 0);
    gap: 2rem;
    width: min(400px, 50%);
  }

  header img {
    height: 100px;
  }

  .hero video {
    height: 95vh;
    max-height: none;
    object-fit: cover;
    position: relative;
  }

  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 7rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0;
  }

  .hero p {
    display: none;
  }

  /* About L */
  .about {
    padding: 1rem;
    margin: 5rem auto;
  }

  /* Map */
  .map {
    display: block;
  }

  .playlists p {
    display: block;
  }
}
