@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

:root {
    --main: hsl(0, 59%, 66%);
    --secondary: hsl(200, 50%, 50%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y proximity;
}

body {
    font-family: 'Ovo', serif;
    font-size: 18px;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

section {
    scroll-snap-align: start;
    width: 100vw;
    min-height: 100vh;
}

/* Commons */
h1 {
    color: var(--main);
    padding: 1rem;
}

p {
    padding: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

i {
    font-size: 20px;
    color: var(--secondary);
}

.highlight {
    padding-left: 0.2rem;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
}

.highlight:before {
    content: '';
    z-index: -1;
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main);
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1em;
    transform: rotate(2deg);
    opacity: 0.5;
    border-radius: 0.25em;
}

.highlight:after {
    content: '';
    z-index: -1;
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.5;
    border-radius: 0.25em;
}

/* Navigation */
nav {
    position: fixed;
    bottom: 0;
    margin: 0.5rem 1rem;
    padding: 0;
    height: 5vh;
    width: 85%;
    display: flex;
    gap: 1rem;
}

nav h2 {
    align-self: center;
    margin: 0 auto;
}

/* Scrolling */
.hero,
.about {
    min-height: 95vh;
}

/* Hero */
.hero video {
    padding: 0;
    height: 40vh;
    width: 100vw;
    object-fit: cover;
    max-height: 60vh;
}

.hero h1 {
    text-align: center;
}

.hero p {
    margin-top: 2rem;
}

/* About */
.about {
    display: grid;
    grid-template-areas:
        'title'
        'image'
        'txt'
        'stats';
}

.about h1 {
    grid-area: title;
}

.about img {
    grid-area: image;
}

.about .txt {
    grid-area: txt;
    place-self: center;
}

.about .stats {
    display: grid;
    place-items: end center;
    gap: 2rem;
    grid-area: stats;
    margin: 5rem 0;
}

.about .ytstats {
    display: grid;
    place-items: center;
}

.about .ytstats .number {
    padding: 0.5rem;
    color: var(--main);
    font-size: 3rem;
}

.about .dr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about .dr img {
    max-width: 100px;
    cursor: pointer;
}

.about a {
    padding: 0.5rem 1rem;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--main);
    color: #fff;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.25);
    font-weight: bolder;
    margin-top: 2rem;
}

/* Map */
.map {
    position: absolute;
    top: -999999vh;
}

/* Playlists */
.playlists {
    display: grid;
    place-items: center;
    gap: 2rem;
    /* background-color: hsla(200, 50%, 50%, 0.2); */
}

.playlists img {
    border-radius: 25px 0 25px 25px;
    cursor: pointer;
    max-height: 200px;
}

.playlists img:hover {
    scale: 105%;
    transition: scale ease 0.5s;
}

.playlists p,
.playlists a {
    display: none;
}

/* Channel */
.channel {
    max-width: 750px;
}

.channel span {
    color: var(--main);
    cursor: pointer;
    font-weight: bolder;
}

/* Travels Playlists Page */
.map {
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 90%);
    max-width: none;
}

.map h1 {
    text-align: center;
    font-size: 3rem;
}

#chartdiv {
    height: 90vh;
    background-color: hsl(0, 0%, 90%);
}

@media screen and (min-width: 768px) {
    h1,
    p {
        padding: 0.8rem 2.5rem;
    }

    i {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    section {
        margin-bottom: 5vh;
        max-width: 1400px;
    }

    p {
        font-size: 1.4rem;
    }

    .hero {
        place-self: start;
    }

    .hero video {
        height: 100vh;
        max-height: none;
        object-fit: cover;
        position: relative;
    }

    .hero h1 {
        position: absolute;
        top: 52.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: yellow;
        font-size: 7rem;
        font-weight: 500;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    }

    .hero p {
        display: none;
    }

    .about {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title title'
            'image txt'
            'stats stats';
        padding: 10vh 0;
    }

    .about img {
        max-width: 90%;
        padding: 2rem 0 0 1rem;
    }

    .about a {
        margin-top: 2rem;
    }

    .about .stats {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about .dr img {
        max-width: 125px;
    }

    .map {
        position: relative;
        display: visible;
        top: 0;
    }

    .playlists {
        padding: 1rem;
        position: relative;
        display: grid;
        gap: 3rem;
        place-items: start center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .playlists > * {
        display: grid;
        place-items: center;
        text-align: center;
        height: 90%;
    }

    .playlists p {
        display: block;
        max-width: 400px;
    }

    .playlists a {
        align-self: end;
        display: block;
        padding: 0.5rem 1rem;
        width: 300px;
        text-align: center;
        border-radius: 10px;
        background-color: var(--secondary);
        color: #fff;
        box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.25);
        font-weight: bolder;
    }

    .playlists h1 {
        position: absolute;
        top: -48%;
        left: 0;
    }

    .channel {
        padding-top: 5vh;
        max-width: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        place-items: center;
    }

    .channel-content {
        max-width: 750px;
        padding-bottom: 3rem;
    }
}
